<section class="data">
  <span class="data-label">Title:</span>
  <span class="data-value">{{model.title}}</span>
</section>

<section class="data">
  <span class="data-label">Date:</span>
  <span class="data-value">{{model.date}}</span>
</section>

<section class="data">
  <span class="data-label">Description:</span>
  <span class="data-value">{{model.description}}</span>
</section>

<section class="action-buttons">
  <button {{action "rsvp"}} class="btn btn-primary">
    RSVP
  </button>

  <button {{action "volunteer"}} class="btn btn-warning">
    Voluteer
  </button>
</section>
