<section class="data">
  <span class="data-label">Title:</span>
  <span class="data-value">{{model.title}}</span>
</section>

<section class="data">
  <span class="data-label">Description:</span>
  <span class="data-value">{{model.description}}</span>
</section>

<section class="data">
  <span class="data-label">Start Date:</span>
  <span class="data-value">{{model.startDate}}</span>
</section>

<section class="data">
  <span class="data-label">End Date:</span>
  <span class="data-value">{{model.endDate}}</span>
</section>

<section class="data">
  <span class="data-label">Volunteers Needed:</span>
  <span class="data-value">{{model.volunteersNeeded}}</span>
</section>

<section class="current-volunteers">
  <div class="data-label">
    Volunteer List
  </div>

  {{volunteer-list volunteers=model.volunteers}}
</section>

{{#if canVolunteer}}
  <div class="agreement-script">
    Consent Form
  </div>

  <div class="agreement-script">
    Inclusion Policy
  </div>

  <div class="agreement-script">
    Code of Conduct
  </div>

  <section class="action-buttons">
    <button {{action "volunteer"}} class="btn btn-warning">
      Volunteer
    </button>
  </section>
{{/if}}
