<div class="data">
  <span class="data-label"> Name: </span>
  <span class="data-value">{{content.fullName}}</span>
</div>

<div class="data">
  <span class="data-label"> Email: </span>
  <span class="data-value"> {{content.email}} </span>
</div>

<div class="data">
  <span class="data-label"> Location: </span>
  <span class="data-value"> {{content.location}} </span>
</div>

<div class="data">
  <span class="data-label"> Phone Number: </span>
  <span class="data-value"> {{content.phoneNumber}} </span>
</div>

<div class="data">
  <span class="data-label"> Bio: </span>
  <p class="data-value"> {{content.bio}} </p>
</div>
